.index {
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto 0.2em auto;

    &__title {
        font-size: 5em;
        font-family: $font-stack-title;
        font-weight: 900;
        color: $color-text-heading;
        border-bottom: 3px solid $color-border;
        margin: 40px 0 30px 0;
        width: 100%;
    }

    &__body {
        text-align: center;
        font-size: 2em;
        margin: 100px 0;
    }
}

.item {
    border-bottom: 2px solid $color-border;
    padding-bottom: 40px;
    margin-bottom: 40px;

    &__title {
        font-family: $font-stack-title;
        font-size: 1.6em;
        margin: 0;
    }

    &--transportation {

        .item__title {
            font-size: 2.4em;
        }

        .item__body {
            font-size: 1.2em;
            line-height: 1.8;
            color: $color-text-alt;
            margin: 20px 0 0 0;
        }
    }

    &--social {
        padding-bottom: 20px;
    }

    &--stuff {
        border-bottom: none;
    }
}

.stuff {
    border: 1px solid $color-border;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 0;

    &__title {
        margin: 10px 0 0 0;
    }

    &__text {
        color: $color-text-alt;
    }
}

.social-links {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    &__bit {
        width: 100%;
        
        @include bp-small {
            width: 50%;
        }

        @include bp-large {
            width: 33%;
        }

    }

    &__link {
        display: block;
        // padding: 0 15px 15px 0;
        padding: 5px 0;
        
        &:hover {

            .social-links__name,
            .social-links__handle {
                visibility: visible;
            }
        }
    }

    &__container {
        display: block;
        padding: 8px 12px;
        border: 1px solid $color-background;
        border-radius: 10px;
    }

    &__icon {
        margin: 0 4px -3px 0;
        font-size: 24px;
    }

    &__name {
        font-size: 1.1em;
    }

    &__handle {
        display: block;
        font-size: 0.8em;
        opacity: 0.5;
        margin: 4px 0 0 38px;
        visibility: hidden;

        @include bp-medium-max {
            display: none;
        }
    }
}

@mixin color-theme(
    $color: $color-primary) { // accent color

    @content;

    .links {
        border-left-color: $color;
    }

    .index {

        &__title {
            color: $color;
        }

        .major-link {

            &__link {

                &:hover,
                &:active {
                    color: $color;
                }
            }
        }
    }

    .stuff {

        &__title {
            a:link,
            a:visited {
                color: $color;
            }

            a:hover,
            a:active {
                color: $color-fourth;
            }
        }
    }

    .social-links {

        &__link {
            
            &:hover,
            &:active {

                .social-links__container {
                    border-color: $color;
                }
            }
        }
    }
}

#container {

    &.color-1 {
        @include color-theme($color-1);
    }

    &.color-2 {
        @include color-theme($color-2);
    }

    &.color-3 {
        @include color-theme($color-3);
    }

    &.color-4 {
        @include color-theme($color-4);
    }

    &.color-5 {
        @include color-theme($color-5);
    }

    &.color-6 {
        @include color-theme($color-6);
    }

    &.color-7 {
        @include color-theme($color-7);
    }
}