.index {
    // background-image: linear-gradient(top,rgba(0,0,0,0.3),rgba(0,0,0,1));
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 0 0.2em 0;

    // @include bp-large {
    //     flex-direction: row;
    //     margin: 1em 0 0.2em 0;
    // }

    &__title {
        font-size: 5em;
        font-family: $font-stack-title;
        font-weight: 900;
        color: $color-text-heading;
        border-bottom: 3px solid $color-border;
        margin: 40px 0 30px 0;
    }

    &__body {
        text-align: center;
        font-size: 2em;
        opacity: 0.5;
        margin: 100px 0;
    }

    &__major-link {

        &__link {
            display: inline-block;
            text-align: center;

            &:link,
            &:visited {
                color: #fff;
                background: $color-secondary;
                padding: 10px 20px;
                border-radius: 5px;
            }

            &:hover,
            &:active {
                background: $color-text-heading;
            }
        }
    }

    &__link-title {
        text-transform: uppercase;
        color: $color-secondary;
        font-weight: 300;
        font-size: 1em;

        &--hidden {
            display: none;
        }
    }

    &__nav {
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
    }
}

.nav {

    &__section:first-child {

        .links {
            border-left: 0;
            margin-left: 0;
            padding-left: 0;
        }
    }
}

.links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-size: 1.4em;
    align-items: center;
    border-left: 2px solid $color-primary;
    margin-left: 20px;
    padding-left: 20px;

    &__bit {
        display: block;
        margin: 5px 15px 5px 6px;
    }

    &__link {
        padding: 5px;
    }

    &__icon {

    }

    &__text {

        &--hidden {
            display: none;
        }
    }

    &--social {

        .links__bit {
            margin: 5px 6px;
        }
    }
}

.small-text {
    font-size: 0.7em;
    text-transform: uppercase;
    color: #666;
}
