/* HTML5 âœ° Boilerplate
 * ==|== normalize ==========================================================
 */
/*@import url(http://fonts.googleapis.com/css?family=Open%20Sans:300,400,700,900);*/
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:400,700,300,900);

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.4; }
body, button, input, select, textarea { font-family: "Lucida Grande", Tahoma, "Trebuchet MS", Verdana, Arial, sans-serif; color: #222; }

::-moz-selection { background: #ddd; color: #333; text-shadow: none; }
::selection { background: #ddd; color: #333; text-shadow: none; }

a { /*color: #007fd0;*/ color: #eee; border-bottom: 1px solid #fd0e35; text-decoration: none; }
a:visited { /*color: #007fd0;*/ color: #eee; }
a:hover { /*color: #f37200;*/ color: #eee; border-bottom-color: #fd0e35; background-color: #fd0e35; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; text-decoration: none; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; outline: 0; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Justin Soltesz, Quizli - http://quizli.com
   ========================================================================== */


body {
	background: #2a2a2a;
	font: 15px 'Roboto', Helvetica, Arial, sans-serif;
  color: #ddd;
}

#container {
  background: #333;
  padding-bottom: 50px;
}

#container > header {
  /*position: fixed;
  top: 0;*/
  background: #444;
  width: 100%;
  text-align: center;
}

#container > header h1 {
	color: #fd0e35;
	text-align: center;
	font-size: 3.5em;
  margin: 0;
	padding: 0;
	font-family: 'Roboto Slab';
	font-weight: 400;
  letter-spacing: -1px;
}

#container > header h1 small {
  font-family: 'Roboto';
  font-size: 0.5em;
  font-weight: 300;
  color: #999;
  letter-spacing: 0;
}

#container > header h1 .wrapper {
  /*border-bottom: 2px solid #900;*/
  display: block;
  margin: auto auto;
  width: 740px;
  padding: 30px;
}

#container > header h1 a:link,
#container > header h1 a:visited {
  color: #fd0e35;
  background: none;
  border: none;
}

#container > header h1 a:hover,
#container > header h1 a:active {
  color: #fff;
  background: none;
  border: none;  
}

article {
  width: 840px;
  padding: 30px 30px 20px;
  margin: auto auto;
}

article#index {
  /*width: 940px;*/
}

article#photos {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

article#photos .go-back {
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

article#photos .go-back a {
  border-bottom: 0;
  padding: 5px;
  display: inline-block;
  color: #eee;
}

article#photos .go-back a:hover {
  color: #fd0e35;
}

article#photos .image {
  position: relative;
  display: inline-block;
}

article#photos .image img {
  display: block;
  width: 100%;
}

article#photos .album-grid a {
  width: 30%;
  margin: 0 1.5% 1.5% 1.5%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px;
  float: left;
  border: none;
  text-align: center;

}

article#photos .album-grid a .name {
  font-weight: 900;
  font-size: 1.4em;
  margin-top: 5px;
  display: block;
}

article#photos .album-grid a .date {
  display: block;
  color: #aaa;
  margin-top: 5px;
}

article#photos .photo-grid .coming-soon {
  text-align: center;
  display: block;
  font-size: 2.5em;
  color: #666;
  margin: 100px 0 0;
}

article#photos .instagram {
  font-size: 1.2em;
  color: #555;
  border-top: 1px solid #ddd;
  padding-top: 50px;
  margin-top: 50px;
  text-align: center;
  clear: both;
}

article#index h1 {
  font-family: 'Roboto Slab';
  font-size: 5em;
  font-weight: 300;
  padding: 0;
  margin: 200px 0 20px 0;
  color: #fd0e35;
  text-align: center;
}

article#index h2 {
  font-weight: 400;
  color: #999;
}

article#index ul.links {
  margin: 0 0 0 50px;
  padding: 0;
  list-style: none;
  text-align: center;
}

article#index ul.links li {
  display: inline-block;
  margin: 8px 30px 24px 0;
  font-size: 0.9em;
}

article#index ul.links li a {
  padding: 3px;
  /*color: #ddd;*/
}

article#index ul.links li a strong {
  /*color: #333;*/
  color: #fff;
  font-size: 1.3em;
  font-weight: 700;
}

article#engineering {
}

article#engineering h1 {
  font-size: 3.3em;
  font-family: 'Roboto Slab';
  font-weight: 300;
  margin: 0;
  padding: 20px 30px 0;
  color: #fff;
}

article#engineering h1 strong {
  font-weight: 400;
  color: #fd0e35;
}

article#engineering h2 {
  font-family: 'Roboto Slab';
  font-size: 2.4em;
  font-weight: 300;
  color: #999;
  margin-bottom: 50px;
  padding: 0 30px 50px;
  border-bottom: 1px solid #ddd;
}

article#engineering h2 strong {
  font-weight: 400;
  color: #000;
}

article#engineering .experience {
    border-bottom: 1px solid #666;
    margin-bottom: 50px;
    padding: 0 30px 20px;
}

article#engineering .experience:last-child {
  border-bottom: 0;
}

article#engineering h3 {
  font-family: 'Roboto Slab';
  font-weight: 400;
  color: #fd0e35;
  font-size: 1.8em;
  margin: 0;
}

article#engineering h4 {
  font-weight: 400;
  font-size: 1.4em;
  margin: 20px 0 0 0;
  color: #fff;
}

article#engineering p,
article#engineering ul {
  line-height: 1.8;
  margin-bottom: 30px;
}

div#copyright {
  clear: both;
  text-align: center;
  font-size: 0.8em;
  font-weight: 300;
  color: #aaa;
  padding: 10px 0;
  margin-bottom: 15px;
}

/* */

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyHidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyHidden.focusable:active, .visuallyHidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearFix:before, .clearFix:after { content: ""; display: table; }
.clearFix:after { clear: both; }
.clearFix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media screen and (max-width: 900px) {

  #container > header h1 {
    font-size: 2.5em;
    text-align: left;
  }

  article#index h1 { 
    font-size: 3.5em;
    margin-top: 50px;
  }

  article #resume h2 small {
    float: none;
    display: block;
    margin-top: 7px;
  }

  #container > header h1 .wrapper,
  article {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  #container > header h1 small { 
    display: block;
    margin-left: 10px;
  }

  article#index ul.links {
    margin-left: 10px;
  }

  article#index ul.links li {
    display: block;
  }

  article#photos .album-grid a {
    width: 46%;
    margin: 0 2% 2% 2%;
  }
}

@media screen and (max-width: 480px) {
  article#photos .album-grid a {
      width: 96%;
      margin: 0 2% 2% 2%;
    }
  }

/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}