$color-primary: #87F6FF;
$color-secondary: #44FFD2;
$color-third: #EE4266;
$color-fourth: #A2FAA3;

$color-background: #3E3E3F;
$color-background-accent: #ddd;

$color-border: $color-secondary;

$color-text-light: #eee;
$color-text-heading: $color-primary;
