$color-primary: #F45B69;
$color-secondary: #456990;
$color-third: #456990;
$color-fourth: #E4FDE1;

$color-background: #114B5F;
$color-background-accent: #ddd;

$color-border: $color-secondary;

$color-text-light: #fff;
$color-text-link: #86D1EA;
$color-text-heading: $color-primary;
