$color-primary: #F45B69;
$color-secondary: #444;
$color-third: #456990;
$color-fourth: #eee;

$color-background: #222;
$color-background-accent: #ddd;

$color-border: $color-secondary;

$color-text-light: #fff;
$color-text-link: #aaa;
$color-text-heading: $color-primary;
