$color-primary: #5273A0;
$color-secondary: #363435;
$color-third: #A05273;
$color-fourth: #73A052;

$color-background: #fff;
$color-background-accent: #ddd;

$color-border: #bbb;

$color-text-primary: $color-secondary;
$color-text-alt: #666;
$color-text-light: #999;
$color-text-invert: #fff;
$color-text-link: $color-primary;
$color-text-heading: $color-primary;

$color-1: #F45B69;
$color-2: #ff7500;
$color-3: #e9c46a;
$color-4: #81b29a;
$color-5: #4180e7;
$color-6: #546ff0;
$color-7: #c77dff;
